name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    # 1. Check out the code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Verify Docker Compose is available (Optional sanity check)
    - name: Check Docker Version
      run: |
        docker compose version

    # 3. Run your Make target
    # This will run "make test-docker-rebuild"
    # (build the containers, mvn compile and execute the tests)
    - name: Run Container Tests
      run: make test-docker-rebuild
